<div class="ui left fixed vertical menu">
  <div class="item">
    GeoSupport UI
  </div>
  {{#each this.model as |function|}}
    {{#link-to 'function' function.function}}
      {{function.function}}
    {{/link-to}}
  {{/each}}
</div>

{{outlet}}
